<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790054934554-jhr5rpkpucbvnqp8pk51iv1lipr5n7bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790054934554-jhr5rpkpucbvnqp8pk51iv1lipr5n7bh</string>
	<key>API_KEY</key>
	<string>AIzaSyAUuKiNDwzJxp3MLs12QMxrU7yOWe30NJA</string>
	<key>GCM_SENDER_ID</key>
	<string>790054934554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authPlayground</string>
	<key>PROJECT_ID</key>
	<string>auth-playboook</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-playboook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790054934554:ios:a9c4393a2a88b9cc2f59a3</string>
</dict>
</plist>